#landing
  position: relative
  height: 100vh
  width: 100vw
  left: -7px
  top: -8px

.bg-image
  background: url("../assets/background.jpg") no-repeat center bottom
  position: fixed
  background-size: cover
  height: 100%
  width: 100%

#about
  height: 100vh
  width: 100vw
  top: 8px
  left: -7px
  position: relative

.heading
  position: absolute
  color: black
  z-index: 2
  left: 50%
  transform: translateX(-50%)

